{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Santander</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quas eum at soluta laudantium deleniti molestiae eligendi quisquam, hic nulla! Aut beatae alias rerum cupiditate, voluptatum sint voluptatibus deleniti fuga.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/san-logo.png" class="img-thumbnail">
    </div>

</div>


{{> footer}}